<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button type="button" class="btn btn-light mx-2">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" routerLink="/home">
      <i class="fa fa-shop"></i>
      Ske mart
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
    <div>
      <button type="button" class="btn btn-light mx-2" routerLink="/user/profile">
        <i class="fa fa-user"></i>
      </button>
      <button type="button" class="btn btn-light" routerLink="/user/logout">
        <i class="fa fa-lock-open"></i>
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>